asi-msp/examples/n8n-workflows/async-security-scan-webhook.json
{
  "name": "MCP Security Scan - Async Webhook Pattern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security-scan-complete",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "webhook-node-1",
      "name": "Webhook - Scan Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "security-scan-webhook",
      "notes": "Receives scan results when complete"
    },
    {
      "parameters": {},
      "id": "trigger-node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 500],
      "notes": "Start the workflow"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target",
              "value": "https://ginandjuice.shop"
            },
            {
              "name": "tool",
              "value": "nuclei_scan"
            },
            {
              "name": "severity",
              "value": "high,critical"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('Webhook - Scan Complete').context.webhook.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node-1",
      "name": "Configure Scan",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 500],
      "notes": "Set target and webhook URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "={{ $json.tool }}"
            },
            {
              "name": "target",
              "value": "={{ $json.target }}"
            },
            {
              "name": "arguments",
              "value": "={{ {\"severity\": $json.severity} }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $json.webhook_url }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "start-scan-node-1",
      "name": "Start Scan With Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500],
      "notes": "Starts scan, MCP will POST results to webhook when done"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=Scan started successfully!\n\nJob ID: {{ $json.job_id }}\nTool: {{ $('Configure Scan').item.json.tool }}\nTarget: {{ $('Configure Scan').item.json.target }}\n\nResults will be sent to webhook when complete."
            }
          ]
        },
        "options": {}
      },
      "id": "confirmation-node-1",
      "name": "Scan Started",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 500],
      "notes": "Confirmation message"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "check-status-node-1",
      "name": "Is Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Check if scan completed successfully"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($json.results, null, 2) }}",
        "options": {}
      },
      "id": "format-node-1",
      "name": "Extract Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 180],
      "notes": "Extract scan results from webhook payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary-1",
              "name": "scan_summary",
              "type": "string",
              "value": "=**Security Scan Results**\n\nTool: {{ $json.tool }}\nTarget: {{ $json.target }}\nDuration: {{ $json.duration_seconds }}s\nCompleted: {{ $json.completed_at }}\n\n=== Findings ===\n{{ $json.results.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-ai-node-1",
      "name": "Prepare For AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 180],
      "notes": "Format for AI analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cybersecurity expert analyzing security scan results.\n\nProvide a professional security assessment with:\n\n## Executive Summary\n- What was tested\n- Overall security posture\n\n## Findings\n- List all vulnerabilities discovered\n- Severity level for each\n\n## Risk Analysis\n- Potential impact of issues\n- Exploitability assessment\n\n## Recommendations\n- Prioritized remediation steps\n- Security best practices\n\nScan Data:\n{{ $json.scan_summary }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert penetration tester and security consultant. Provide clear, actionable security guidance."
        }
      },
      "id": "ai-analysis-node-1",
      "name": "AI Security Assessment",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1120, 180],
      "notes": "AI analyzes findings and provides recommendations"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"job_id\": $('Webhook - Scan Complete').item.json.job_id,\n  \"tool\": $('Webhook - Scan Complete').item.json.tool,\n  \"target\": $('Webhook - Scan Complete').item.json.target,\n  \"status\": $('Webhook - Scan Complete').item.json.status,\n  \"duration\": $('Webhook - Scan Complete').item.json.duration_seconds,\n  \"completed_at\": $('Webhook - Scan Complete').item.json.completed_at,\n  \"raw_results\": $('Webhook - Scan Complete').item.json.results,\n  \"ai_assessment\": $json.output,\n  \"report_generated\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "final-report-node-1",
      "name": "Security Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1340, 180],
      "notes": "Complete security assessment report"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "=Scan failed: {{ $('Webhook - Scan Complete').item.json.error || 'Unknown error' }}"
            },
            {
              "name": "job_id",
              "value": "={{ $('Webhook - Scan Complete').item.json.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-node-1",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 420],
      "notes": "Log scan failure"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"Security assessment completed\",\n  \"job_id\": $json.job_id,\n  \"ai_analysis\": $json.ai_assessment\n} }}",
        "options": {}
      },
      "id": "response-node-1",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 180],
      "notes": "Acknowledge webhook receipt"
    }
  ],
  "connections": {
    "Webhook - Scan Complete": {
      "main": [
        [
          {
            "node": "Is Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configure Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Scan": {
      "main": [
        [
          {
            "node": "Start Scan With Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Scan With Webhook": {
      "main": [
        [
          {
            "node": "Scan Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Successful?": {
      "main": [
        [
          {
            "node": "Extract Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Results": {
      "main": [
        [
          {
            "node": "Prepare For AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For AI": {
      "main": [
        [
          {
            "node": "AI Security Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Assessment": {
      "main": [
        [
          {
            "node": "Security Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Report": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "1",
      "name": "security"
    },
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "2",
      "name": "webhook"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T13:00:00.000Z",
  "versionId": "1"
}
