asi-msp/examples/n8n-workflows/comprehensive-security-assessment.json
{
  "name": "Comprehensive Security Assessment - Multi-Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target",
              "value": "https://ginandjuice.shop"
            }
          ]
        },
        "options": {}
      },
      "id": "config-1",
      "name": "Set Target",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 400],
      "notes": "Configure target for assessment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "httpx_scan"
            },
            {
              "name": "target",
              "value": "={{ $json.target }}"
            },
            {
              "name": "arguments",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "id": "scan-httpx-1",
      "name": "Start: httpx (Tech Stack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200],
      "notes": "Fast HTTP probing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "wafw00f_scan"
            },
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "arguments",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "id": "scan-waf-1",
      "name": "Start: wafw00f (WAF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 320],
      "notes": "WAF detection"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "nuclei_scan"
            },
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "arguments",
              "value": "={{ {\"severity\": \"high,critical\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "scan-nuclei-1",
      "name": "Start: nuclei (Vulnerabilities)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 440],
      "notes": "Comprehensive vuln scan"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "gobuster_scan"
            },
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "arguments",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "id": "scan-gobuster-1",
      "name": "Start: gobuster (Directories)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 560],
      "notes": "Directory enumeration"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-1",
      "name": "Merge Job IDs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [900, 400],
      "notes": "Collect all job IDs"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-1",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 400],
      "webhookId": "wait-multi-scan",
      "notes": "Allow time for scans to complete"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://mcp-security-server:3000/scans?status=completed&limit=10",
        "authentication": "none",
        "options": {}
      },
      "id": "get-completed-1",
      "name": "Get All Completed Scans",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 400],
      "notes": "Retrieve all completed scans"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "id": "split-1",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1560, 400],
      "notes": "Process each scan individually"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://mcp-security-server:3000/scans/{{ $json.job_id }}/results",
        "authentication": "none",
        "options": {}
      },
      "id": "get-results-1",
      "name": "Get Each Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 400],
      "notes": "Fetch full results for each scan"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_scans",
        "options": {}
      },
      "id": "aggregate-1",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2000, 400],
      "notes": "Combine all scan results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assessment-1",
              "name": "comprehensive_report",
              "type": "string",
              "value": "=# Comprehensive Security Assessment\n\nTarget: {{ $('Set Target').item.json.target }}\nScans Completed: {{ $json.all_scans.length }}\nAssessment Date: {{ new Date().toISOString() }}\n\n## Scan Results Summary\n\n{{ $json.all_scans.map(scan => {\n  return `### ${scan.tool}\\n` +\n         `- Duration: ${scan.duration_seconds}s\\n` +\n         `- Status: ${scan.status}\\n` +\n         `- Findings: ${scan.results?.output?.substring(0, 200) || 'See detailed results'}...\\n`\n}).join('\\n') }}\n\n## Raw Data\n\n{{ JSON.stringify($json.all_scans, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-report-1",
      "name": "Format Comprehensive Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2220, 400],
      "notes": "Combine all findings into one report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a lead security consultant conducting a comprehensive security assessment.\n\nAnalyze these multi-tool scan results and provide:\n\n## Executive Summary\n- Overall security posture\n- Critical findings count\n- Risk level assessment\n\n## Tool-by-Tool Analysis\n- httpx findings (tech stack, CDN, etc.)\n- wafw00f findings (WAF protection)\n- nuclei findings (vulnerabilities)\n- gobuster findings (exposed directories)\n\n## Integrated Risk Assessment\n- How findings relate to each other\n- Attack chains and exploitation paths\n- Defense gaps\n\n## Prioritized Recommendations\n1. Critical fixes (do immediately)\n2. High priority (do this week)\n3. Medium priority (do this month)\n4. Long-term improvements\n\n## Compliance Notes\n- OWASP Top 10 compliance\n- Security best practices gaps\n\nAssessment Data:\n{{ $json.comprehensive_report }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior penetration tester with 15+ years experience. Provide strategic, executive-level security guidance that balances technical accuracy with business impact."
        }
      },
      "id": "ai-comprehensive-1",
      "name": "AI Comprehensive Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [2440, 400],
      "notes": "AI analyzes all findings together"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"assessment_id\": Date.now().toString(),\n  \"target\": $('Set Target').item.json.target,\n  \"completed_at\": new Date().toISOString(),\n  \"tools_used\": $('Aggregate All Results').item.json.all_scans.map(s => s.tool),\n  \"total_duration\": $('Aggregate All Results').item.json.all_scans.reduce((sum, s) => sum + s.duration_seconds, 0),\n  \"scan_results\": $('Aggregate All Results').item.json.all_scans,\n  \"ai_analysis\": $json.output,\n  \"report_type\": \"comprehensive_security_assessment\"\n} }}",
        "options": {}
      },
      "id": "final-1",
      "name": "Final Assessment Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2660, 400],
      "notes": "Complete multi-tool security assessment"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target": {
      "main": [
        [
          {
            "node": "Start: httpx (Tech Stack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start: wafw00f (WAF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start: nuclei (Vulnerabilities)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start: gobuster (Directories)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: httpx (Tech Stack)": {
      "main": [
        [
          {
            "node": "Merge Job IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: wafw00f (WAF)": {
      "main": [
        [
          {
            "node": "Merge Job IDs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start: nuclei (Vulnerabilities)": {
      "main": [
        [
          {
            "node": "Merge Job IDs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Start: gobuster (Directories)": {
      "main": [
        [
          {
            "node": "Merge Job IDs",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Job IDs": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Get All Completed Scans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Completed Scans": {
      "main": [
        [
          {
            "node": "Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs": {
      "main": [
        [
          {
            "node": "Get Each Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Each Result": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Format Comprehensive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Comprehensive Report": {
      "main": [
        [
          {
            "node": "AI Comprehensive Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Comprehensive Analysis": {
      "main": [
        [
          {
            "node": "Final Assessment Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "1",
      "name": "security"
    },
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "2",
      "name": "comprehensive"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T13:00:00.000Z",
  "versionId": "1"
}
