asi-mcp/examples/n8n-workflow-recon.json
{
  "name": "Security Reconnaissance Workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Security Reconnaissance Workflow\n\nThis workflow performs automated reconnaissance on authorized targets using MCP security tools.\n\n### Tools Used:\n1. nmap - Network scanning\n2. subfinder - Subdomain discovery\n3. httpx - HTTP probing\n4. nuclei - Vulnerability scanning\n\n### Usage:\nProvide a target domain or IP address to begin reconnaissance."
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "mode": "manual"
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "target",
              "value": "={{ $json.target || '192.168.1.0/24' }}",
              "type": "string"
            },
            {
              "name": "domain",
              "value": "={{ $json.domain || 'example.local' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Target",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "systemMessage": "You are a security reconnaissance assistant for authorized penetration testing. Use the available MCP security tools to assess the target. Always validate targets are within authorized scope.\n\nAvailable tools:\n- nmap_scan: Network and service scanning\n- subfinder_scan: Subdomain discovery\n- httpx_scan: HTTP service probing\n- nuclei_scan: Vulnerability detection\n\nProvide comprehensive reconnaissance reports.",
        "hasOutputParser": false
      },
      "name": "Security AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [850, 300]
    },
    {
      "parameters": {
        "sseEndpoint": "http://mcp-security-server:3000/sse",
        "authentication": "bearer",
        "token": "={{ $credentials.mcpToken }}",
        "toolsToInclude": "selected",
        "selectedTools": [
          "nmap_scan",
          "subfinder_scan",
          "httpx_scan",
          "nuclei_scan"
        ]
      },
      "name": "MCP Security Tools",
      "type": "@n8n/n8n-nodes-langchain.toolMcp",
      "typeVersion": 1,
      "position": [850, 500],
      "credentials": {
        "mcpToken": {
          "id": "1",
          "name": "MCP Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}",
              "type": "string"
            },
            {
              "name": "report",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.report }}",
        "options": {}
      },
      "name": "Display Results",
      "type": "n8n-nodes-base.showMessage",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target": {
      "main": [
        [
          {
            "node": "Security AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security AI Agent": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Security Tools": {
      "ai_tool": [
        [
          {
            "node": "Security AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
