asi-msp/examples/n8n-workflow-webapp.json
{
  "name": "Web Application Security Assessment",
  "nodes": [
    {
      "parameters": {
        "content": "## Web Application Security Assessment\n\nComprehensive security testing workflow for web applications.\n\n### Assessment Phases:\n1. Discovery - Directory and file enumeration\n2. Analysis - Technology detection and WAF identification\n3. Vulnerability Testing - SQL injection, XSS, misconfigurations\n4. Reporting - Consolidated findings\n\n### Required Input:\n- target_url: Web application URL"
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 200]
    },
    {
      "parameters": {},
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [450, 300],
      "webhookId": "security-assessment"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "systemMessage": "You are an expert web application security tester. Perform comprehensive security assessments using available tools.\n\nAssessment methodology:\n1. Reconnaissance (httpx, wafw00f)\n2. Content discovery (gobuster, ffuf)\n3. Vulnerability scanning (nikto, nuclei)\n4. Specific tests (sqlmap for SQLi, wpscan for WordPress)\n\nProvide detailed findings with:\n- Severity ratings\n- Affected components\n- Remediation recommendations\n- Risk assessment\n\nOnly test authorized targets.",
        "hasOutputParser": false
      },
      "name": "Web Security Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sseEndpoint": "http://mcp-security-server:3000/sse",
        "authentication": "bearer",
        "token": "={{ $credentials.mcpToken }}",
        "toolsToInclude": "selected",
        "selectedTools": [
          "httpx_scan",
          "wafw00f_scan",
          "gobuster_scan",
          "ffuf_scan",
          "nikto_scan",
          "nuclei_scan",
          "sqlmap_scan",
          "wpscan_scan"
        ]
      },
      "name": "MCP Web Security Tools",
      "type": "@n8n/n8n-nodes-langchain.toolMcp",
      "typeVersion": 1,
      "position": [650, 500],
      "credentials": {
        "mcpToken": {
          "id": "1",
          "name": "MCP Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.findings }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Findings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "assessment_id",
              "value": "={{ $workflow.id }}-{{ $now.toUnixInteger() }}",
              "type": "string"
            },
            {
              "name": "target_url",
              "value": "={{ $('Webhook Trigger').item.json.target_url }}",
              "type": "string"
            },
            {
              "name": "findings",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity || 'medium' }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Generate Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "filePath": "=/reports/assessment-{{ $json.assessment_id }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "name": "Save Report",
      "type": "n8n-nodes-base.fileSystem",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "no_findings",
              "type": "string"
            },
            {
              "name": "message",
              "value": "No security issues detected",
              "type": "string"
            }
          ]
        }
      },
      "name": "No Findings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Web Security Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Web Security Tools": {
      "ai_tool": [
        [
          {
            "node": "Web Security Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Security Agent": {
      "main": [
        [
          {
            "node": "Has Findings?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Findings?": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Findings": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
