n8n_workflows/HexStrike AI Security Testing - WORKING v7.json
{
  "name": "HexStrike AI Security Testing - with AI Agent - WORKING v7",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6992,
        4064
      ],
      "id": "0af3c792-4566-416a-abc8-c1e1fadbb270",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target",
              "name": "target",
              "value": "ginandjuice.shop",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6931395b-27ca-4643-a21f-eea110971bb4",
      "name": "Set Target",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        7184,
        4064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hexstrike-ai-server:8889/api/intelligence/analyze-target",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ $json.target }}"
            },
            {
              "name": "analysis_type",
              "value": "comprehensive"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "5bed82c2-a546-422a-aaf3-b3c1c74b9f6a",
      "name": "AI Target Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7392,
        4064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hexstrike-ai-server:8889/api/tools/nmap",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "scan_type",
              "value": "full"
            },
            {
              "name": "ports",
              "value": "1-1000"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "e164366e-7a6a-4f4d-8082-a84ef1e27fe2",
      "name": "Nmap Port Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7584,
        3872
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hexstrike-ai-server:8889/api/tools/subfinder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "sources",
              "value": "all"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "c8c1dfac-96f9-4765-9ae8-28bc2c5f6d8a",
      "name": "Subdomain Enumeration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7584,
        4016
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hexstrike-ai-server:8889/api/tools/nuclei",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ $('Set Target').item.json.target }}"
            },
            {
              "name": "template",
              "value": "cves"
            },
            {
              "name": "severity",
              "value": "critical,high,medium"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "0097fd37-cc37-4304-b4d0-14d8aacc397a",
      "name": "Vulnerability Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7584,
        4192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hexstrike-ai-server:8889/api/tools/gobuster",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=http://{{ $('Set Target').item.json.target }}"
            },
            {
              "name": "wordlist",
              "value": "/usr/share/wordlists/seclists/raft-medium-directories-lowercase.txt"
            },
            {
              "name": "threads",
              "value": "=50"
            },
            {
              "name": "additional_args",
              "value": "--wildcard"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "10e99d72-7167-4d51-8568-1e6b2dd90fbc",
      "name": "Directory Enumeration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7696,
        4464
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.output_file.replace(\"/app/results\", \"/hexstrike-results\") }}"
      },
      "id": "b82fbbb5-6942-420d-872e-129eb30dfd50",
      "name": "Read Nuclei Results File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        7776,
        4304
      ]
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "b182d29e-23ab-4dc0-971d-6f1cb07346e1",
      "name": "Merge Scan Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7936,
        4032
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all scan results and format for AI\nconst items = $input.all();\n\nlet nmapOutput = \"No Nmap data\";\nlet subfinderOutput = \"No Subfinder data\";\nlet nucleiOutput = \"No Nuclei data\";\nlet gobusterOutput = \"No Gobuster data\";\nlet nucleiFileData = null;\nlet nucleiMetadata = null;\n\n// Extract data from each scan\nfor (const item of items) {\n  const json = item.json;\n  \n  // Try to identify which scan this is from\n  if (json.stdout && json.stdout.includes('Nmap')) {\n    nmapOutput = json.stdout || json.output || 'Nmap completed but no output';\n  } else if (json.stdout && json.stdout.includes('subfinder')) {\n    subfinderOutput = json.stdout || json.output || 'Subfinder completed but no output';\n  } else if (json.stderr && json.stderr.includes('nuclei')) {\n    // This is the nuclei metadata from the scan itself\n    nucleiMetadata = json;\n  } else if (json.stdout && json.stdout.includes('gobuster')) {\n    gobusterOutput = json.stdout || json.output || 'Gobuster completed but no output';\n    if (json.stderr) {\n      gobusterOutput += `\\n\\nErrors/Warnings:\\n${json.stderr}`;\n    }\n  } else if (json.data && typeof json.data === 'string' && json.data.includes('\"template-id\"')) {\n    // This is data from Read Binary File node (nuclei JSONL)\n    try {\n      // Parse JSONL (JSON Lines) - each line is a separate JSON object\n      const lines = json.data.trim().split('\\n');\n      const parsed = [];\n      for (const line of lines) {\n        if (line.trim()) {\n          parsed.push(JSON.parse(line));\n        }\n      }\n      if (parsed.length > 0) {\n        nucleiFileData = parsed;\n      }\n    } catch (e) {\n      // Failed to parse JSONL, ignore\n    }\n  }\n}\n\n// Format Nuclei output using the parsed file data\nif (nucleiFileData && Array.isArray(nucleiFileData) && nucleiFileData.length > 0) {\n  // We have vulnerability data from the JSONL file\n  let vulnDetails = `Found ${nucleiFileData.length} vulnerabilities:\\n\\n`;\n  nucleiFileData.forEach((vuln, idx) => {\n    vulnDetails += `[${idx + 1}] ${vuln.info?.name || vuln.template || 'Unknown Vulnerability'}\\n`;\n    vulnDetails += `    Template ID: ${vuln['template-id'] || vuln.templateID || 'N/A'}\\n`;\n    vulnDetails += `    Severity: ${vuln.info?.severity || 'unknown'}\\n`;\n    vulnDetails += `    Type: ${vuln.type || 'N/A'}\\n`;\n    vulnDetails += `    Matched: ${vuln['matched-at'] || vuln.host || 'N/A'}\\n`;\n    if (vuln.info?.description) {\n      vulnDetails += `    Description: ${vuln.info.description}\\n`;\n    }\n    if (vuln.info?.reference && vuln.info.reference.length > 0) {\n      vulnDetails += `    References: ${vuln.info.reference.join(', ')}\\n`;\n    }\n    if (vuln['curl-command']) {\n      vulnDetails += `    cURL: ${vuln['curl-command']}\\n`;\n    }\n    vulnDetails += `\\n`;\n  });\n  nucleiOutput = vulnDetails;\n  \n  // Add metadata if available\n  if (nucleiMetadata) {\n    nucleiOutput += `\\nExecution time: ${nucleiMetadata.execution_time?.toFixed(2) || 'N/A'}s`;\n    if (nucleiMetadata.output_file) {\n      nucleiOutput += `\\nDetailed results saved to: ${nucleiMetadata.output_file}`;\n    }\n  }\n} else if (nucleiMetadata) {\n  // No vulnerabilities found, use metadata\n  nucleiOutput = nucleiMetadata.formatted_output || 'Scan completed - No vulnerabilities found';\n  if (nucleiMetadata.stdout) {\n    nucleiOutput += `\\n\\n${nucleiMetadata.stdout}`;\n  }\n  nucleiOutput += `\\n\\nExecution time: ${nucleiMetadata.execution_time?.toFixed(2) || 'N/A'}s`;\n  if (nucleiMetadata.output_file) {\n    nucleiOutput += `\\nDetailed results saved to: ${nucleiMetadata.output_file}`;\n  }\n}\n\n// Format the combined output for the AI\nconst formattedOutput = `Security Scan Results for Analysis:\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n沒｡ NMAP PORT SCAN RESULTS\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n${nmapOutput}\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n沍 SUBDOMAIN ENUMERATION (Subfinder)\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n${subfinderOutput}\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n沐 VULNERABILITY SCAN (Nuclei)\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n${nucleiOutput}\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n沒 DIRECTORY ENUMERATION (Gobuster)\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n${gobusterOutput}\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\nPlease analyze these results and provide:\n1. Critical security findings\n2. High-risk vulnerabilities\n3. Potential attack vectors\n4. Recommended next steps`;\n\nreturn [{ json: { scanResults: formattedOutput, target: $('Set Target').item.json.target } }];"
      },
      "id": "fa74277c-02fd-46cf-ae95-bb2419f1013b",
      "name": "Format Scan Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8080,
        4064
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.scanResults }}",
        "options": {
          "systemMessage": "You are a highly skilled offensive security assistant designed to help penetration testers during engagements. Your role is to receive the output of security tools like nmap, nuclei, subfinder, and gobuster and interpret them for actionable insights.\n\nYour task is to:\n1. Parse the tool outputs carefully\n2. Identify security issues, misconfigurations, and vulnerabilities\n3. Correlate findings across different tools\n4. Highlight high-value targets and attack vectors\n5. Recommend specific next steps with tool commands\n6. Map findings to OWASP Top 10 or MITRE ATT&CK where applicable\n\nFormat your response with:\n- Clear severity ratings (CRITICAL/HIGH/MEDIUM/LOW)\n- Evidence from the scans\n- Exploitation potential\n- Specific commands or tools to use next\n\nUse markdown formatting for readability.\n\nAssume all analysis is part of a legal, authorized penetration test."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8224,
        4064
      ],
      "id": "3cf72837-606c-42c7-882b-29524bb26efe",
      "name": "AI Security Analysis"
    },
    {
      "parameters": {
        "model": "huihui_ai/gpt-oss-abliterated:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        8224,
        4272
      ],
      "id": "c7466bf5-274c-4460-8fa7-df4a3f3568a6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "26o02qS1GLhSJN8n",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target": {
      "main": [
        [
          {
            "node": "AI Target Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Target Analysis": {
      "main": [
        [
          {
            "node": "Nmap Port Scan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subdomain Enumeration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vulnerability Scan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Directory Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nmap Port Scan": {
      "main": [
        [
          {
            "node": "Merge Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subdomain Enumeration": {
      "main": [
        [
          {
            "node": "Merge Scan Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Scan Results": {
      "main": [
        [
          {
            "node": "Format Scan Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scan Data for AI": {
      "main": [
        [
          {
            "node": "AI Security Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Security Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerability Scan": {
      "main": [
        [
          {
            "node": "Merge Scan Results",
            "type": "main",
            "index": 2
          },
          {
            "node": "Read Nuclei Results File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Nuclei Results File": {
      "main": [
        [
          {
            "node": "Merge Scan Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Directory Enumeration": {
      "main": [
        [
          {
            "node": "Merge Scan Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "667422dc-0ebc-43cc-82d0-0ed728d1e01b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d600756f141b274a3143d44fd5e3fd32a6e9353753558b9a411b71cc9d2438a7"
  },
  "id": "t6FpTYj06hZxVcC6eXV9Y",
  "tags": []
}
