asi-mcp/examples/n8n-workflows/async-security-scan-polling.json
{
  "name": "MCP Security Scan - Async Polling Pattern",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target",
              "value": "https://ginandjuice.shop"
            },
            {
              "name": "tool",
              "value": "nuclei_scan"
            },
            {
              "name": "severity",
              "value": "high,critical"
            }
          ]
        },
        "options": {}
      },
      "id": "2b3c4d5e-6f78-90ab-cdef-123456789012",
      "name": "Set Target Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300],
      "notes": "Configure scan target and parameters"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-security-server:3000/scans/start",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool",
              "value": "={{ $json.tool }}"
            },
            {
              "name": "target",
              "value": "={{ $json.target }}"
            },
            {
              "name": "arguments",
              "value": "={{ {\"severity\": $json.severity} }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "3c4d5e6f-7890-abcd-ef12-34567890abcd",
      "name": "Start Async Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "notes": "Starts scan and returns immediately with job_id"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "target",
              "value": "={{ $('Set Target Config').item.json.target }}"
            },
            {
              "name": "tool",
              "value": "={{ $('Set Target Config').item.json.tool }}"
            }
          ],
          "number": [
            {
              "name": "retry_count",
              "value": 0
            },
            {
              "name": "max_retries",
              "value": 60
            }
          ]
        },
        "options": {}
      },
      "id": "4d5e6f78-90ab-cdef-1234-567890abcdef",
      "name": "Save Job Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 300],
      "notes": "Store job_id and retry counter"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "5e6f7890-abcd-ef12-3456-7890abcdef12",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Poll interval - adjust based on expected scan duration",
      "webhookId": "wait-webhook-1"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://mcp-security-server:3000/scans/{{ $json.job_id }}/status",
        "authentication": "none",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6f789012-3456-7890-abcd-ef1234567890",
      "name": "Check Scan Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "notes": "Get current scan status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "7890abcd-ef12-3456-7890-abcdef123456",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "notes": "Check if scan finished successfully"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://mcp-security-server:3000/scans/{{ $('Save Job Info').item.json.job_id }}/results",
        "authentication": "none",
        "options": {
          "timeout": 10000
        }
      },
      "id": "890abcde-f123-4567-890a-bcdef1234567",
      "name": "Get Scan Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 180],
      "notes": "Retrieve full scan results"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "failed"
            }
          ]
        }
      },
      "id": "90abcdef-1234-5678-90ab-cdef12345678",
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 420],
      "notes": "Check if scan encountered error"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_message",
              "value": "=Scan failed: {{ $json.error }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0abcdef1-2345-6789-0abc-def123456789",
      "name": "Handle Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2000, 300],
      "notes": "Log error and stop"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Save Job Info').item.json.retry_count }}",
              "operation": "smaller",
              "value2": "={{ $('Save Job Info').item.json.max_retries }}"
            }
          ]
        }
      },
      "id": "abcdef12-3456-7890-abcd-ef123456789a",
      "name": "Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 540],
      "notes": "Check if we should continue polling"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "retry_count",
              "value": "={{ $('Save Job Info').item.json.retry_count + 1 }}"
            }
          ],
          "string": [
            {
              "name": "job_id",
              "value": "={{ $('Save Job Info').item.json.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcdef123-4567-890a-bcde-f123456789ab",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2220, 440],
      "notes": "Increment counter and loop back"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_message",
              "value": "Scan timed out after {{ $('Save Job Info').item.json.max_retries * 10 }} seconds"
            }
          ]
        },
        "options": {}
      },
      "id": "cdef1234-5678-90ab-cdef-123456789abc",
      "name": "Timeout Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2220, 640],
      "notes": "Max retries exceeded"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($json.results, null, 2) }}",
        "options": {}
      },
      "id": "def12345-6789-0abc-def1-23456789abcd",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2000, 180],
      "notes": "Format for AI agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai-analysis-1",
              "name": "scan_summary",
              "type": "string",
              "value": "=Tool: {{ $('Save Job Info').item.json.tool }}\nTarget: {{ $('Save Job Info').item.json.target }}\nDuration: {{ $json.duration_seconds }}s\nStatus: {{ $json.status }}\n\n=== Scan Output ===\n{{ $json.results.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef123456-789a-bcde-f123-456789abcdef",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2220, 180],
      "notes": "Format data for AI agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a security analyst reviewing scan results.\n\nAnalyze the following security scan and provide:\n1. **Summary** - What was scanned and key findings\n2. **Risk Assessment** - Severity of issues found\n3. **Recommendations** - Specific actions to take\n4. **Priority** - Which issues to fix first\n\nScan Data:\n{{ $json.scan_summary }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert cybersecurity analyst with deep knowledge of web application security, vulnerability assessment, and penetration testing. Provide clear, actionable insights."
        }
      },
      "id": "f1234567-89ab-cdef-1234-56789abcdef1",
      "name": "AI Security Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [2440, 180],
      "notes": "AI agent analyzes scan results"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"job_id\": $('Save Job Info').item.json.job_id,\n  \"tool\": $('Save Job Info').item.json.tool,\n  \"target\": $('Save Job Info').item.json.target,\n  \"duration\": $('Get Scan Results').item.json.duration_seconds,\n  \"scan_results\": $('Get Scan Results').item.json.results,\n  \"ai_analysis\": $json.output\n} }}",
        "options": {}
      },
      "id": "12345678-9abc-def1-2345-6789abcdef12",
      "name": "Final Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2660, 180],
      "notes": "Complete assessment report"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Config": {
      "main": [
        [
          {
            "node": "Start Async Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Async Scan": {
      "main": [
        [
          {
            "node": "Save Job Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Job Info": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "Check Scan Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scan Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Get Scan Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan Results": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Retry?": {
      "main": [
        [
          {
            "node": "Increment Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Security Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Analysis": {
      "main": [
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "1",
      "name": "security"
    },
    {
      "createdAt": "2026-01-14T13:00:00.000Z",
      "updatedAt": "2026-01-14T13:00:00.000Z",
      "id": "2",
      "name": "mcp"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T13:00:00.000Z",
  "versionId": "1"
}
